* { display: block; padding: 12px; }
.a {
  background-color: #ff0000;
  padding-bottom: 40px;
  border-bottom-width: 10px;
  border-bottom-color: #FF00FF;
}
.b {
  background-color: #ffa500;
}
.c {
  background-color: #ffff00;
}
.d {
  background-color: #008000;
}
.e {
  background-color: #0000ff;
}
.f {
  background-color: #4b0082;
  margin-bottom: 40px;
}
.g {
  background-color: #800080;
}